<div class="holder">
  <div class="number-of-tools">
    <app-stat [title]="'Total Number of Tools'" [totalNumber]="5300"></app-stat>
    <app-stat [title]="'Tools with Missing Information'" [totalNumber]="1300"></app-stat>
  </div>
  <div class="percentage">
    <h5>Percentage of Tools with Missing Information</h5>
    <circle-progress
      [percent]="75"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#3367CB'"
      [innerStrokeColor]="'#006599'"
      [animation]="true"
      [animationDuration]="400"
    ></circle-progress>
  </div>

  <div class="tools-fixed">
    <app-stat [title]="'Number of Tools Edited'" [totalNumber]="549"></app-stat>
    <div class="card tools" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Most frequently missing field</h5>
        <h1>user_docs_url</h1>
      </div>
    </div>
  </div>
</div>
