.card {
    margin-top: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

.field-details {
    font-size: 24px;
}

.entry {
    display: flex;
    flex-direction: row;
}

.field {
    width:30%;
}

.field-value {
    width: 70%;
    word-wrap: break-word;
}

.btn {
    background-color: #78C000 !important;
    border-color:#78C000 !important;
}

a {
    color: #78C000 !important;
}