<div class="container-fluid lead-container">
  <div class="header">
    <h2>Leaderboard</h2>
  </div>


  <table class="leaderboard">
    <tbody><tr>
      <th>User's Name</th>
      <th>Number of Tools Edited</th>
    </tr>
  
    <tr>
      <td>
        John Kiriamiti
      </td>
      <td class="tool-edits">67</td>
    </tr>
  
    <tr>
      <td>
        June Char
      </td>
      <td class="tool-edits">45</td>
    </tr>
  
    <tr>
      <td>
        Ann Smart
      </td>
      <td class="tool-edits">42</td>
    </tr>
  
    <tr>
      <td>
        Ayokot Owino
      </td>
      <td class="tool-edits">40</td>
    </tr>
  
    <tr>
      <td>
       Peter Matei
      </td>
      <td class="tool-edits">37</td>
    </tr>
  
    <tr>
      <td>
        Owiti Sal
      </td>
      <td class="tool-edits">31</td>
    </tr>
  
    <tr>
      <td>
       Turkana Bei
      </td>
      <td class="tool-edits">27</td>
    </tr>
  
    <tr>
      <td>
        Mibei John
      </td>
      <td class="tool-edits">15</td>
    </tr>
  
    <tr>
      <td>
        Kananu Maicy
      </td>
      <td class="tool-edits">15</td>
    </tr>
  
    <tr>
      <td>
       Anthony K
      </td>
      <td class="tool-edits">13</td>
    </tr>
  
    <tr>
      <td>
        Bgathu
      </td>
      <td class="tool-edits">11</td>
    </tr>
  
    <tr>
      <td>
       Hwaruguru
      </td>
      <td class="tool-edits">10</td>
    </tr>
  
    <tr>
      <td>
        Johnson Sakaja
      </td>
      <td class="tool-edits">9</td>
    </tr>
  
    <tr>
      <td>
        Akothee
      </td>
      <td class="tool-edits">8</td>
    </tr>
  
    <tr>
      <td>
        William Muthee
      </td>
      <td class="tool-edits">8</td>
    </tr>
  
    <tr>
      <td>
        Kiengei live
      </td>
      <td class="tool-edits">8</td>
    </tr>
  
    <tr>
      <td>
       Karagu Muraya
      </td>
      <td class="tool-edits">7</td>
    </tr>
  
    <tr>
      <td>
        Thuranira Mbeki
      </td>
      <td class="tool-edits">7</td>
    </tr>
  
    <tr>
      <td>
        Mercy Tharao
      </td>
      <td class="tool-edits">7</td>
    </tr>
  
    <tr>
      <td>
        Aziad Naisenya
      </td>
      <td class="tool-edits">6</td>
    </tr>
  
    <tr>
      <td>
      Natalie Will
      </td>
      <td class="tool-edits">6</td>
    </tr>
  
    <tr>
      <td>
        Irene Makereca
      </td>
      <td class="tool-edits">6</td>
    </tr>
  
    <tr>
      <td>
       Nyambura Muoki
      </td>
      <td class="tool-edits">5</td>
    </tr>
  
    <tr>
      <td>
        Ruth Matete
      </td>
      <td class="tool-edits">4</td>
    </tr>
  
    <tr>
      <td>
       Yvonne Metet
      </td>
      <td class="tool-edits">4</td>
    </tr>
  
    <tr>
      <td>
        Rodgers Kimtai
      </td>
      <td class="tool-edits">4</td>
    </tr>
  
    <tr>
      <td>
        Harisson Mubea
      </td>
      <td class="tool-edits">3</td>
    </tr>
  
    <tr>
      <td>
        Rashid Abdalla
      </td>
      <td class="tool-edits">3</td>
    </tr>
  
    <tr>
      <td>
       Cohen Tobby
      </td>
      <td class="tool-edits">3</td>
    </tr>
  
    <tr>
      <td>
        Latvia Suleiman
      </td>
      <td class="tool-edits">3</td>
    </tr>
  
    <tr>
      <td>
        Ademayo Alhamisi
      </td>
      <td class="tool-edits">2</td>
    </tr>
  
    <tr>
      <td>
       Jumatano Juma
      </td>
      <td class="tool-edits">2</td>
    </tr>
  
    <tr>
      <td>
       Collins Juma
      </td>
      <td class="tool-edits">2</td>
    </tr>
  
    <tr>
      <td>
        Becky Rose
      </td>
      <td class="tool-edits">1</td>
    </tr>
  
    <tr>
      <td>
        Kaikai
      </td>
      <td class="tool-edits">1</td>
    </tr>
  
    <tr>
      <td>
       Kikoi Emerald
      </td>
      <td class="tool-edits">1</td>
    </tr>
  
    <tr>
      <td>
       Zambarau Zubeida
      </td>
      <td class="tool-edits">1</td>
    </tr>
    </tbody>
  </table>
</div>
